<%- include('../partials/header') %>
<div class="container">
  <h2 class="mt-4 mb-3"><%= supplier && supplier._id ? 'Edit Supplier' : 'New Supplier' %></h2>
  <form action="<%= supplier && supplier._id ? '/suppliers/' + supplier._id + '?_method=PUT' : '/suppliers' %>" method="POST" class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Name</label>
      <input name="name" required class="form-control" placeholder="Name" value="<%= supplier.name || '' %>">
    </div>
    <div class="col-md-6">
      <label class="form-label">Address</label>
      <input name="address" class="form-control" placeholder="Address" value="<%= supplier.address || '' %>">
    </div>
    <div class="col-md-6">
      <label class="form-label">Phone</label>
      <input name="phone" class="form-control" placeholder="Phone" value="<%= supplier.phone || '' %>">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary"><%= supplier && supplier._id ? 'Update' : 'Create' %></button>
    </div>
  </form>
</div>
<%- include('../partials/footer') %>